/* CSS Variables
*/
:root {
  --primary-color: #07bf7d;
  --primary-text-color: #888;
  --secondary-color: #194766;
  --secondary-text-color: #07bf7d;
}
/* END CSS Variables*/

/* Import Fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
/* END Import Montserrat Font*/

html {
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100vh;
}

body {
  background: url(../img/coming-soon-movil-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-attachment: fixed;*/
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  height: 100vh;
  padding: 0px 20px;
  text-align: center;
}

header,
main.content,
footer {
  width: 100%;
}

header {
  padding-top: 20px;
}

header p {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
}

main.content {
  flex: 1;
  margin-top: 0px;
  /*position: relative;*/
}

main.content h1 {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 117%;
  margin: 0;
  /*padding-left: 80px;
  padding-right: 80px;*/
}

main.content p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 10px 0px;
}

main.content p.primary-text-color {
  color: var(--primary-text-color);
  line-height: 150%;
}

main.content p.secondary-text-color {
  color: var(--secondary-text-color);
  line-height: 16px;
}

main .text-over-form {
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;*/
}

main .coming-soon-form {
  /*margin-top: 30px;*/
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 60%;
}

main .coming-soon-form h2 {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  margin: 0;
  margin-bottom: 10px;
}

main .coming-soon-form form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main .coming-soon-form form input {
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #eff0f2;
  box-sizing: border-box;
  border-radius: 48px;
  height: 43px;
  text-align: center;
  width: 330px;
}

main .coming-soon-form form input,
main .coming-soon-form form input::placeholder,
main .coming-soon-form form input::-ms-input-placeholder,
main .coming-soon-form form input:-ms-input-placeholder,
main .coming-soon-form form input::-moz-placeholder,
main .coming-soon-form form input::-webkit-input-placeholder {
  color: #cacaca;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

main .coming-soon-form form button {
  background: var(--primary-color);
  border: 0;
  border-radius: 54px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  height: 42px;
  letter-spacing: 0.04em;
  line-height: 24px;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 138px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  /*align-self: flex-end;*/
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0px;
  /*margin-bottom: 20px;*/
}

footer a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

footer .social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

footer .social li {
  padding: 5px 20px;
}

footer .signature {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 535px) {
  main.content h1 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 700px) {
  body {
    align-items: center;
    background: url(../img/coming-soon-desktop-bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    /*background-attachment: fixed;*/
    /*flex-wrap: nowrap;*/
    flex-direction: column;
    justify-content: center;
  }

  header,
  main.content,
  footer {
    width: 680px;
  }

  main.content {
    margin-top: 0px;
  }

  main.content p {
    padding: 10px 80px;
  }

  main.content h1 {
    font-size: 35px;
  }

  main.content p.secondary-text-color {
    padding-top: 0px;
  }

  main .coming-soon-form {
    /*margin-top: 60px;*/
    /*margin-bottom: 130px;*/
  }

  main .coming-soon-form h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
  }

  main .coming-soon-form form {
    margin-top: 10px;
  }

  main .coming-soon-form form input {
    width: 380px;
  }

  main .coming-soon-form form button {
    width: 112px;
    height: 32px;
  }

  footer,
  footer .social,
  footer .signature {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (min-width: 1281px) {
  main .coming-soon-form {
    bottom: 20%;
  }
}
